body {
 background-color: #6a6868;
 font-family: 'Pacifico', cursive;
 margin: 0vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

#h1 {
  all: unset;
  font-size: xxx-large;
  /* text: url("https://i.postimg.cc/brkwtyS4/images.jpg"); */
}

.form {
  float: right;
  margin-top: 15px;
  border: none;
}

#search {
  background-image: url("https://i.postimg.cc/brkwtyS4/images.jpg");
  color: white;
  padding: 12px 16px;
  cursor: pointer;
  height: 53px;
}

input {
  all: unset;
  height: 53px;
  background-color: white;
  width: 20%;
  font-size: 30px;
}

input::placeholder {
  padding-left: 2%;
}

.gif-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
}

img {
  margin-right: 6px;
  margin-bottom: 6px;
  border: 1px solid #6a6868;
  border-radius: 15px;
}

/* .download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.download:hover {
  background-color: RoyalBlue;
} */