body {
 background-color: #2a2a2a;
 font-family: 'Varela Round', sans-serif;
 margin: 0vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

h1 {
  all: unset;
  font-size: 100px;
  /* text: url("https://i.postimg.cc/brkwtyS4/images.jpg"); */
  background-image: url(https://i.postimg.cc/Tw2tsPJX/Red-and-blue-mix.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.form {
  float: right;
  margin-top: 35px;
  border: none;
  height: 61px;
}

#search {
  background-image: url(https://ak.picdn.net/shutterstock/videos/1028449436/thumb/1.jpg);
  background-size: cover;
  color: white;
  padding: 12px 16px;
  cursor: pointer;
}

input {
  all: unset;
  background-color: white;
  width: 20%;
  font-size: 30px;
}

input::placeholder {
  padding-left: 2%;
}

.gif-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

img {
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 15px;
}

@media (max-width: 850px){
  h1{
    all: unset;
  font-size: x-large;
  /* text: url("https://i.postimg.cc/brkwtyS4/images.jpg"); */
  background-image: url(https://i.postimg.cc/Tw2tsPJX/Red-and-blue-mix.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* font-size: xxx-large;
  background-image: url(https://i.postimg.cc/Tw2tsPJX/Red-and-blue-mix.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* height: 175px; */
  /*width: 317px; */
  }
}

/* .download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.download:hover {
  background-color: RoyalBlue;
} */