h1 {
  max-height: 25px;
}

img {
  margin-right: 4px;
}

/* .download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.download:hover {
  background-color: RoyalBlue;
} */
















